@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), local('Ubuntu-Regular'),
       url('/assets/fonts/ubuntu/ubuntu-v11-latin-ext_latin-regular.woff2') format('woff2'),
       url('/assets/fonts/ubuntu/ubuntu-v11-latin-ext_latin-regular.woff') format('woff');
}
